# files
*.json
*.html
.gitignore
开发记录.md
guidance.md



## python resourse
config_tool.py


# dirs
data/
test/
.idea/
__pycache__/
code_styles/
commit/
pic/
zhihu/html/commit
zhihu/html/code_style
output/


## devolopment

md.py