.body{
    max-width: 700px;
}

.page{
	position: relative;
	margin: auto;
	max-width: 700px;
	margin: 0, auto;
	width: inherit


}

.author-msg{
    height: 100px;
    max-width: 700px;
    padding-bottom: 50px;
}

.author-avatar, .author-avatar>img{
	height: 100px;
	width: 100px;
}

.msg-warp{
	position: relative;
	left:100px;
	top:-100px;
	height: 100px;
	max-width: 300px;
	margin-left: 20px;
	font-style: inherit;
	font-family: inherit;
}

.author-name, .date, .voteup{
	line-height: 50px;
}

.author-name, .author-name>a{

	max-width: 300px;
	font-size: 26px;
	font-weight: 600;
	color: #1a1a1a;
	text-decoration: none;
}

.date, .voteup{
	display: inline;
}

.date-voteup{
	max-width:300px;
}

.article-text>p{
	text-indent: 2em;

}